{% extends "::base.html.twig" %}

{% block box_title %}Monitoramento{% endblock %}

{% block box_content %}
    <div class="span11">
        <form id="mainForm" type="get">
                <div class="row-fluid span12">
                {% block page_content %}
                    <div class="span8">
                        {% block page_data %}
                            <div class="" style="height: 50px">
                                {% block buttons %}
                                Botões de métricas
                                {% endblock %}
                            </div>
{#                             <div class="span10">
                                {% block graphics %}
                                Área destinada a gráficos
                                {% endblock %}
                            </div> #}
                            <div class="">
                                {% block grid %}
                                Grid de dados
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                    <div id="filters_container" class="span2" style="position: relative">
                        {% block filters %}
                            Filtro
                        {% endblock %}
                    </div>
                {%endblock%}
                </div>
        </form>
    </div>
{% endblock %}

